<h2>Contact us if you would like to order:</h2>

<form method="post" action="/email">
 <input type="text" name="email" placeholder="email">
 <input type="text" name="subject" placeholder="subject">
 <textarea type="text" name="body" placeholder="body"></textarea>
 <input type="submit">

</form>