


<div class='totalWrap'>

<div class="theSecondWrap">
  <div class='caroWrap'>
    
    <img class="mySlides" src="css/images/lighbox.jpg" style="width:95%">
    <img class="mySlides" src="css/images/lighbox-2.jpg"  style="width:95%">
    <img class="mySlides" src="css/images/lighbox-3.jpg"  style="width:95%">
    <img class="mySlides" src="css/images/lighbox-5.jpg"  style="width:95%">
    <img class="mySlides" src="css/images/lighbox-6.jpg"  style="width:95%">  
    
  </div>
</div>

<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    // $(".mySlides").fadeIn("slow")
    setTimeout(carousel, 10000); 
     ;
// }
}
</script>

<!-- <div id="box">
	

</div>

<form method="get" action="/login">
	Username: <input type="text" name="username">
	Password: <input type="text" name="password">
	<input type="submit" name="">
 -->
<!-- </form> -->

