<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/main.css" href="//fonts.googleapis.com/css?||family=Roboto" family="Comfortaa">
</head>
<body>
<div class='theWrap'>
		<div class="home-title">
			<h1 class='duck'> Framed Duck Photos</h1>
		</div>
	<nav class="navbar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="/contact">Contact</a></li>

		</ul>
	</nav>

	
<div class="film">

  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  
 

</div>
		<div class="main-container">
			<%= yield %>
		</div>

	<footer>
		<ul>
			<li>a</li>
			<li>b</li>
			<li>c</li>
			<li>d</li>
		</ul>
	</footer>
</div>

<script type="text/javascript" src="../javascript/javascript.js"></script>
</body>

</html>