<h2>
	Search For Something
</h2>

<form method="get" action="/search">
<input type="text" name="search_term">
<input type="submit" name="">
</form>

<hr>

<div><%= "You are searching for: #{@search_term}" %></div>