<%# <h3 class='w3-animate-fading'>STORE TEST</h3> %>

<div class='storeImageGridWrap'>

<div id='film'><a href="/film"><div class='storeText' >Film</div></a></div>
<div id='cameras'><a href="/cameras"><div class='storeText'>Cameras</div></a></div>
<div id='lenses'><div class='storeText'>Lenses</div></div>

</div>

</a>